.list {
    display:inline-flex;
    
    
  }
  
  .menu {
    text-decoration: none;
    color:blueviolet;
    font-size: 1.5rem;
    padding-left: 80px;
    
  }
  .menu Badge{
    font-size:xx-small;
  }
  